function openModal(file) {

    const modal = document.getElementById("modal");
    const frame = document.getElementById("modalFrame");

    frame.src = file;
    modal.style.display = "block";
}

function closeModal() {

    const modal = document.getElementById("modal");
    const frame = document.getElementById("modalFrame");

    frame.src = "";
    modal.style.display = "none";
}
