body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: black;
    color: white;
}

/* NAVBAR */
nav {
    background: #111;
    width: 100%;
}

.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

.nav-container a {
    color: #1db954;
    text-decoration: none;
    font-weight: bold;
}

.resume-btn {
    border: 1px solid #1db954;
    padding: 8px 15px;
    border-radius: 5px;
}

/* SECTIONS */
.section {
    min-height: 100vh;
    padding: 60px;
}

/* SKILLS */
.skill {
    margin: 10px 0;
}

/* CERTIFICATES */
.cert-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.cert-card {
    background: #111;
    padding: 20px;
    border: 1px solid #1db954;
    border-radius: 10px;
    text-align: center;
    width: 200px;
}

.cert-card p {
    font-size: 14px;
    text-transform: lowercase;
}

button {
    background: #1db954;
    border: none;
    padding: 8px 15px;
    color: black;
    cursor: pointer;
    border-radius: 5px;
}

/* MODAL */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
}

.modal iframe {
    width: 80%;
    height: 80%;
    margin: 5% 10%;
    border: none;
}

.close {
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 40px;
    cursor: pointer;
}
